h1{
    color: red;
}
body{
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
section{
     margin-top: 40px; 
}
.container{
    width: 70%;
      margin: auto;  
}
input:focus{
    outline: none;
    border: 5px black solid;
   
   
  


}